<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin</title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
        <style type="text/css">.left-div {
            display: inline-block;
            height: 945px;
            width: 920px;
            position: absolute;
        }
        .left-div {
            display: inline-block;
            height: 945px;
            width: 920px;
            position: absolute;
        }
        .right-div {
            display: inline-block;
            height: 945px;
            width: 800px;
            position: absolute;
            left: 50%;
            text-align: center;
        }
        .print-preview-button {
	height: 35px; 
	width: 120px;
	font-size: 20px;
}
.print-preview-button2 {
	height: 35px; 
	width: 250px;
	font-size: 20px;
}
        .big-heading {
	font-size: 50px;
	font-family: serif;
	text-align: center;
}
.image {
	position: absolute;
	top: 17%;
	left: 40%;
}
.dropdown-label {
	font-size: 23px;
}
.dropdown {
	height: 40px;
	width: 250px;
	margin-left: 20px;
	font-size: 20px;
}
.right-div-top {
	text-align: center;
    position:absolute;
    top: 200px;
    
}
        </style>
    </head>
    <script>
        function downloadProductsData(){
        axios.get('http://143.244.142.130:1337/database').then(function (response) {
        var data = response.data;
        console.log("downloadedJson")
            const workSheet = XLSX.utils.json_to_sheet(data);
            filename='ProductsDB.xlsx';
            var wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, workSheet, "People");
            XLSX.writeFile(wb,filename);
        })
        };
    </script>
    <script>
        function downloadOfferData(){
        axios.get('http://143.244.142.130:1337/getOffer').then(function (response) {
        var data = response.data;
        console.log("downloadedJson")
            const workSheet = XLSX.utils.json_to_sheet(data);
            filename='OfferDB.xlsx';
            var wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, workSheet, "People");
            XLSX.writeFile(wb,filename);
        })
        };
    </script>

    <body style="margin: 50; background-color: #D3D3D3;">
        <div class="right-div">
            <img src="https://i.ibb.co/SNS2sgd/141-2020-12-03-style-Bazzar-logo.png" class="image" />
        </div>
        <div class="left-div" style="margin-left: 130px;">
            <div class="big-heading" style="margin-top: 80px;" style="margin-left: 130px;" >ADMIN PORTAL</div>
        </div>
        <div class="right-div-top"> 

            <form class="post-container" action="/addData" method="POST">
            <div class="dropdown-label"style="margin-left: 100px;">CREATE NEW PRODUCT</div>
            <input class="dropdown"name='division' type="text" placeholder="Enter Division" style="margin-left: 100px;"><br>
            <input class="dropdown"name='section' type="text" placeholder="Enter Section"style="margin-left: 100px;"><br>
            <input class="dropdown"name='category' type="text" placeholder="Enter Category"style="margin-left: 100px;"><br>
            <input class="dropdown"name='department' type="text" placeholder="Enter Department"style="margin-left: 100px;"><br>
            <input class="dropdown"name="brand" type="text" placeholder="Enter Brand"style="margin-left: 100px;"><br>
            <input class="dropdown"name='barcode' type="text" placeholder="Enter Barcode"style="margin-left: 100px;"><br>

            <button class="print-preview-button" type="submit"style="margin-left: 105px;">Submit</button><br>
            </form>

            <br>
            <br>

            <form class="post-container" action="/addOffer" method="POST">
                <div class="dropdown-label"style="margin-left: 100px;">CREATE NEW OFFER</div>
                <input class="dropdown"name='ot' type="text" placeholder="Enter Offer Type"style="margin-left: 100px;"><br>
                <input class="dropdown"name='od' type="text" placeholder="Enter Offer Details"style="margin-left: 100px;"><br>
    
                <button class="print-preview-button" type="submit"style="margin-left: 105px;">Submit</button><br><br><br>
                
                </form>

             <form>
                <button class="print-preview-button2" onClick="downloadOfferData()"style="margin-left: 105px;">Get Offer Data</button><br>
                <button class="print-preview-button2" onClick="downloadProductsData()"style="margin-left: 105px;">Get Product Data</button>
             </form>   
                
        </div>
</html>