<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Store</title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js" crossorigin="anonymous"></script>
        <style type="text/css">.left-div {
            display: inline-block;
            height: 945px;
            width: 920px;
            position: absolute;
        }
        .left-div {
            display: inline-block;
            height: 945px;
            width: 920px;
            position: absolute;
        }
        .right-div {
            display: inline-block;
            height: 945px;
            width: 800px;
            position: absolute;
            left: 50%;
            text-align: center;
        }
        .print-preview-button {
	height: 35px; 
	width: 120px;
	font-size: 20px;
}
        .big-heading {
	font-size: 50px;
	font-family: serif;
	text-align: center;
}
.image {
	position: absolute;
	top: 17%;
	left: 40%;
}
.dropdown-label {
	font-size: 23px;
}
.dropdown {
	height: 40px;
	width: 250px;
	margin-left: 20px;
	font-size: 20px;
}
.right-div-top {
	text-align: center;
    position:absolute;
    top: 200px;
    
}
        </style>
    </head>

    <body style="margin: 50; background-color: #D3D3D3;">
        <div class="right-div">
            <img src="https://i.ibb.co/SNS2sgd/141-2020-12-03-style-Bazzar-logo.png" class="image" />
        </div>
        <div class="left-div" style="margin-left: 130px;">
            <div class="big-heading" style="margin-top: 80px;" style="margin-left: 130px;" >ADMIN PORTAL</div>
        </div>
        <div class="right-div-top"> 

            <form class="post-container" action="/adminLogin" method="POST">
            <div class="dropdown-label"style="margin-left: 100px;"></div>
            <input class="dropdown"name='username' type="text" placeholder="Enter UserName" style="margin-left: 100px;"><br>
            <input class="dropdown"name='password' type="password" placeholder="Enter Password"style="margin-left: 100px;"><br>
            

            <button class="print-preview-button" type="submit"style="margin-left: 105px;">Submit</button><br>
            </form>

            <br>
            <br>
        </div>
</html>